ui-view

.viewer
  header
    button(ng-click="logout()" tabindex="-1") x
    form(ng-submit="view()")
      input(
        ng-model="$storage.channel"
        ng-disabled="$state.is('viewer.login')"
        required
        placeholder="lv** or co**"
      )
    //- a(ui-sref="viewer.config") o
  footer
    form(
      ng-show="$storage.open && handshaked"
      ng-submit="comment()"
    )
      label
        input(ng-model="$storage.anonymity" type="checkbox")
        img(ng-src="{{usericon}}" err-src="{{blank}}")
      input(ng-model="text" required placeholder="{{placeholder}}")
      button(tabindex="-1") コメント

  main(ng-show="!handshaked")
    .entrance(ng-show="$state.is('viewer')")
      h1 EDGY
      h2 COMMENT-VIEWER
      pre.error(ng-show="error") {{error}}
      form(ng-hide="error" ng-submit="view()")
        input(
          ng-model="$storage.channel"
          ng-disabled="$state.is('viewer.login')"
          required
          placeholder="Please type live_id"
        )
        button(style="display:none")

  main(ng-show="handshaked")
    div(ng-hide="comments.length")
      section コメントがみつかりません

    div(ng-repeat="comment in comments")
      section(ng-show="comment.type=='myself'")
        figure(
          fetch-nickname="comment.attr.user_id"
          title="{{nickname}}"
        )
          img(ng-src="{{comment.usericon}}" err-src="{{blank}}")
          h2 {{nickname}}
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")
            |{{comment.text}}

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")
        footer
      section(ng-show="comment.type=='anonymous'")
        footer
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")
            |{{comment.text}}

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")
        figure(
          fetch-nickname="comment.attr.user_id"
          title="{{nickname}}"
        )
          img(ng-src="{{comment.usericon}}" err-src="{{blank}}")
          h2 {{nickname}}
      section(ng-class="{owner:comment.type=='owner',command:comment.type=='command'}" ng-show="comment.type=='command' || comment.type=='owner'")
        figcaption
          pre(jsfxr="comment.text" jsfxr-disabled="now()-10 > comment.attr.date")
            |{{comment.text}}

          footer
            h3 {{comment.attr.no}}
            pre(time-ago="comment.attr.date")